<a href="https://colab.research.google.com/github/yleessam/datascience/blob/main/20%EC%B0%A8%EC%8B%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 데이터분석 실습

# 순서
0. 데이터 확인
1. 필요 라이브러리 임포트 및 파일 읽어오기
2. EDA 탐색적 데이터 분석
3. 데이터 전처리 수행
 - 필요한 컬럼 정리
 - 컬럼 데이터 정제
 - Null 처리
 - 컬럼 type 변경하기
4. 데이터 시각화
5. 결과 저장

# #0. 데이터의 확인

https://www.kaggle.com/datasets/blastchar/telco-customer-churn

- 통신사 고객 데이터를 분석해서 고객을 유지하고 고객 이탈률을 줄이기 위한 전략을 탐색한다.

- Churn은 서비스를 중단하거나 업계의 경쟁업체로 이전한 고객 또는 사용자를 의미하는데, 목표는 기존 고객을 유지하고 새로운 고객을 유치하는 것입니다.

- 이 과정을 통해 우리는 정확한 고객이탈 예측 모델을 개발할 수 있습니다.

# * Telco Customer Churn Dataset  컬럼

---


1. CustomerID: Customer ID unique for each customer
2. gender: Whether the customer is a male or a female
3. SeniorCitizen: Whether the customer is a senior citizen or not (1, 0) : 고령자 여부
4. Partner: Whether the customer has a partner or not (Yes, No)
5. Dependents: Whether the customer has dependents or not (Yes, No) : 부양가족 여부
6. Tenure: Number of months the customer has stayed with the company : 서비스 사용 개월수
7. PhoneService: Whether the customer has a phone service or not (Yes, No)
8. MultipleLines: Whether the customer has multiple lines or not (Yes, No, No phone service)
9. InternetService: Customer’s internet service provider (DSL, Fiber optic, No)
10. OnlineSecurity: Whether the customer has online security or not (Yes, No, No internet service)
11. OnlineBackup: Whether the customer has an online backup or not (Yes, No, No internet service)
12. DeviceProtection: Whether the customer has device protection or not (Yes, No, No internet service)
13. TechSupport: Whether the customer has tech support or not (Yes, No, No internet service)
14. StreamingTV: Whether the customer has streaming TV or not (Yes, No, No internet service)
15. StreamingMovies: Whether the customer has streaming movies or not (Yes, No, No internet service)
16. Contract: The contract term of the customer (Month-to-month, One year, Two years)
17. PaperlessBilling: Whether the customer has paperless billing or not (Yes, No)
18. PaymentMethod: The customer’s payment method (Electronic check, Mailed check, Bank transfer (automatic), Credit card (automatic))
19. MonthlyCharges: The amount charged to the customer monthly
20. TotalCharges: The total amount charged to the customer
21. Churn: Whether the customer churned or not (Yes or No) : 이탈 여부

# #1. 필요 라이브러리 임포트 및 파일 읽어오기

In [3]:
import numpy as np

In [5]:
import pandas as pd

## CSV 파일 데이터 읽어오기

In [112]:
df = pd.read_csv('./data/cust_data_v1.csv')

In [114]:
# 읽어온 데이터프레임 확인하기
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,NaN,0.0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,NaN,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0.0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0.0,No,No,2,Yes,No,DSL,Yes,...,NaN,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0.0,No,No,45,No,No phone service,DSL,Yes,...,NaN,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0.0,No,No,2,Yes,No,Fiber optic,No,...,NaN,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0.0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0.0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0.0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1.0,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,NaN,0.0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

# #2. 탐색적 데이터 분석

## 데이터 탐색하기

## 자료구조 파악

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7034 non-null   object
 2   SeniorCitizen     7042 non-null   float64
 3   Partner           7043 non-null   object
 4   Dependents        7041 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7040 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  3580 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7042 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7042 non-null   object
 18  MonthlyCharges    7042 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(1), object(18)
memory usage: 1.1+ MB

## 데이터 타입, 인덱스, 컬럼명, Values 확인

In [39]:
for i in range(21):
    print(df.loc[i])

customerID                7590-VHVEG
gender                           NaN
SeniorCitizen                    0.0
Partner                          Yes
Dependents                        No
tenure                             1
PhoneService                      No
MultipleLines       No phone service
InternetService                  DSL
OnlineSecurity                    No
OnlineBackup                     Yes
DeviceProtection                  No
TechSupport                       No
StreamingTV                       No
StreamingMovies                   No
Contract                         NaN
PaperlessBilling                 Yes
PaymentMethod       Electronic check
MonthlyCharges                 29.85
TotalCharges                   29.85
Churn                             No
Name: 0, dtype: object
customerID            5575-GNVDE
gender                      Male
SeniorCitizen                0.0
Partner                       No
Dependents                    No
tenure                        34
PhoneService                 Yes
MultipleLines                 No
InternetService              DSL
OnlineSecurity               Yes
OnlineBackup                  No
DeviceProtection             Yes
TechSupport                   No
StreamingTV                   No
StreamingMovies               No
Contract                One year
PaperlessBilling              No
PaymentMethod       Mailed check
MonthlyCharges             56.95
TotalCharges              1889.5
Churn                         No
Name: 1, dtype: object
customerID              3668-QPYBK
gender                        Male
SeniorCitizen                  0.0
Partner                         No
Dependents                      No
tenure                           2
PhoneService                   Yes
MultipleLines                   No
InternetService                DSL
OnlineSecurity                 Yes
OnlineBackup                   Yes
DeviceProtection               NaN
TechSupport                     No
StreamingTV                     No
StreamingMovies                 No
Contract            Month-to-month
PaperlessBilling               Yes
PaymentMethod         Mailed check
MonthlyCharges               53.85
TotalCharges                108.15
Churn                          Yes
Name: 2, dtype: object
customerID                         7795-CFOCW
gender                                   Male
SeniorCitizen                             0.0
Partner                                    No
Dependents                                 No
tenure                                     45
PhoneService                               No
MultipleLines                No phone service
InternetService                           DSL
OnlineSecurity                            Yes
OnlineBackup                               No
DeviceProtection                          NaN
TechSupport                               Yes
StreamingTV                                No
StreamingMovies                            No
Contract                             One year
PaperlessBilling                           No
PaymentMethod       Bank transfer (automatic)
MonthlyCharges                           42.3
TotalCharges                          1840.75
Churn                                      No
Name: 3, dtype: object
customerID                9237-HQITU
gender                        Female
SeniorCitizen                    0.0
Partner                           No
Dependents                        No
tenure                             2
PhoneService                     Yes
MultipleLines                     No
InternetService          Fiber optic
OnlineSecurity                    No
OnlineBackup                      No
DeviceProtection                 NaN
TechSupport                       No
StreamingTV                       No
StreamingMovies                   No
Contract              Month-to-month
PaperlessBilling                 Yes
PaymentMethod       Electronic check
MonthlyCharges                  70.7
TotalCharges                  151.65
Churn                            Yes
Name: 4, dtype: object
customerID                9305-CDSKC
gender                        Female
SeniorCitizen                    0.0
Partner                           No
Dependents                        No
tenure                             8
PhoneService                     Yes
MultipleLines                    Yes
InternetService          Fiber optic
OnlineSecurity                    No
OnlineBackup                      No
DeviceProtection                 NaN
TechSupport                       No
StreamingTV                      Yes
StreamingMovies                  Yes
Contract              Month-to-month
PaperlessBilling                 Yes
PaymentMethod       Electronic check
MonthlyCharges                 99.65
TotalCharges                   820.5
Churn                            Yes
Name: 5, dtype: object
customerID                       1452-KIOVK
gender                                 Male
SeniorCitizen                           0.0
Partner                                  No
Dependents                              Yes
tenure                                   22
PhoneService                            Yes
MultipleLines                           Yes
InternetService                 Fiber optic
OnlineSecurity                           No
OnlineBackup                            Yes
DeviceProtection                        NaN
TechSupport                              No
StreamingTV                             Yes
StreamingMovies                          No
Contract                     Month-to-month
PaperlessBilling                        Yes
PaymentMethod       Credit card (automatic)
MonthlyCharges                         89.1
TotalCharges                         1949.4
Churn                                    No
Name: 6, dtype: object
customerID                6713-OKOMC
gender                        Female
SeniorCitizen                    0.0
Partner                           No
Dependents                        No
tenure                            10
PhoneService                      No
MultipleLines       No phone service
InternetService                  DSL
OnlineSecurity                   Yes
OnlineBackup                      No
DeviceProtection                 NaN
TechSupport                       No
StreamingTV                       No
StreamingMovies                   No
Contract              Month-to-month
PaperlessBilling                  No
PaymentMethod           Mailed check
MonthlyCharges                 29.75
TotalCharges                   301.9
Churn                             No
Name: 7, dtype: object
customerID                7892-POOKP
gender                        Female
SeniorCitizen                    0.0
Partner                          Yes
Dependents                        No
tenure                            28
PhoneService                     Yes
MultipleLines                    Yes
InternetService          Fiber optic
OnlineSecurity                    No
OnlineBackup                      No
DeviceProtection                 NaN
TechSupport                      Yes
StreamingTV                      Yes
StreamingMovies                  Yes
Contract              Month-to-month
PaperlessBilling                 Yes
PaymentMethod       Electronic check
MonthlyCharges                 104.8
TotalCharges                 3046.05
Churn                            Yes
Name: 8, dtype: object
customerID                         6388-TABGU
gender                                   Male
SeniorCitizen                             0.0
Partner                                    No
Dependents                                Yes
tenure                                     62
PhoneService                              Yes
MultipleLines                              No
InternetService                           DSL
OnlineSecurity                            Yes
OnlineBackup                              Yes
DeviceProtection                          NaN
TechSupport                                No
StreamingTV                                No
StreamingMovies                            No
Contract                             One year
PaperlessBilling                           No
PaymentMethod       Bank transfer (automatic)
MonthlyCharges                          56.15
TotalCharges                          3487.95
Churn                                      No
Name: 9, dtype: object
customerID              9763-GRSKD
gender                        Male
SeniorCitizen                  0.0
Partner                        Yes
Dependents                     Yes
tenure                          13
PhoneService                   Yes
MultipleLines                   No
InternetService                DSL
OnlineSecurity                 Yes
OnlineBackup                    No
DeviceProtection               NaN
TechSupport                     No
StreamingTV                     No
StreamingMovies                 No
Contract            Month-to-month
PaperlessBilling               Yes
PaymentMethod         Mailed check
MonthlyCharges               49.95
TotalCharges                587.45
Churn                           No
Name: 10, dtype: object
customerID                       7469-LKBCI
gender                                 Male
SeniorCitizen                           0.0
Partner                                  No
Dependents                               No
tenure                                   16
PhoneService                            Yes
MultipleLines                            No
InternetService                          No
OnlineSecurity          No internet service
OnlineBackup            No internet service
DeviceProtection        No internet service
TechSupport             No internet service
StreamingTV             No internet service
StreamingMovies         No internet service
Contract                           Two year
PaperlessBilling                         No
PaymentMethod       Credit card (automatic)
MonthlyCharges                        18.95
TotalCharges                          326.8
Churn                                    No
Name: 11, dtype: object
customerID                       8091-TTVAX
gender                                 Male
SeniorCitizen                           0.0
Partner                                 Yes
Dependents                               No
tenure                                   58
PhoneService                            Yes
MultipleLines                           Yes
InternetService                 Fiber optic
OnlineSecurity                           No
OnlineBackup                             No
DeviceProtection                        Yes
TechSupport                              No
StreamingTV                             Yes
StreamingMovies                         Yes
Contract                           One year
PaperlessBilling                         No
PaymentMethod       Credit card (automatic)
MonthlyCharges                       100.35
TotalCharges                         5681.1
Churn                                    No
Name: 12, dtype: object
customerID                         0280-XJGEX
gender                                   Male
SeniorCitizen                             0.0
Partner                                    No
Dependents                                 No
tenure                                     49
PhoneService                              Yes
MultipleLines                             Yes
InternetService                   Fiber optic
OnlineSecurity                             No
OnlineBackup                              Yes
DeviceProtection                          Yes
TechSupport                                No
StreamingTV                               Yes
StreamingMovies                           Yes
Contract                       Month-to-month
PaperlessBilling                          Yes
PaymentMethod       Bank transfer (automatic)
MonthlyCharges                          103.7
TotalCharges                           5036.3
Churn                                     Yes
Name: 13, dtype: object
customerID                5129-JLPIS
gender                          Male
SeniorCitizen                    0.0
Partner                           No
Dependents                        No
tenure                            25
PhoneService                     Yes
MultipleLines                     No
InternetService          Fiber optic
OnlineSecurity                   Yes
OnlineBackup                      No
DeviceProtection                 Yes
TechSupport                      Yes
StreamingTV                      Yes
StreamingMovies                  Yes
Contract              Month-to-month
PaperlessBilling                 Yes
PaymentMethod       Electronic check
MonthlyCharges                 105.5
TotalCharges                 2686.05
Churn                             No
Name: 14, dtype: object
customerID                       3655-SNQYZ
gender                               Female
SeniorCitizen                           0.0
Partner                                 Yes
Dependents                              Yes
tenure                                   69
PhoneService                            Yes
MultipleLines                           Yes
InternetService                 Fiber optic
OnlineSecurity                          Yes
OnlineBackup                            Yes
DeviceProtection                        Yes
TechSupport                             Yes
StreamingTV                             Yes
StreamingMovies                         Yes
Contract                           Two year
PaperlessBilling                         No
PaymentMethod       Credit card (automatic)
MonthlyCharges                       113.25
TotalCharges                        7895.15
Churn                                    No
Name: 15, dtype: object
customerID                   8191-XWSZG
gender                           Female
SeniorCitizen                       0.0
Partner                              No
Dependents                           No
tenure                               52
PhoneService                        Yes
MultipleLines                        No
InternetService                      No
OnlineSecurity      No internet service
OnlineBackup        No internet service
DeviceProtection    No internet service
TechSupport         No internet service
StreamingTV         No internet service
StreamingMovies     No internet service
Contract                       One year
PaperlessBilling                     No
PaymentMethod              Mailed check
MonthlyCharges                    20.65
TotalCharges                    1022.95
Churn                                No
Name: 16, dtype: object
customerID                         9959-WOFKT
gender                                   Male
SeniorCitizen                             0.0
Partner                                    No
Dependents                                Yes
tenure                                     71
PhoneService                              Yes
MultipleLines                             Yes
InternetService                   Fiber optic
OnlineSecurity                            Yes
OnlineBackup                               No
DeviceProtection                          Yes
TechSupport                                No
StreamingTV                               Yes
StreamingMovies                           Yes
Contract                             Two year
PaperlessBilling                           No
PaymentMethod       Bank transfer (automatic)
MonthlyCharges                          106.7
TotalCharges                          7382.25
Churn                                      No
Name: 17, dtype: object
customerID                       4190-MFLUW
gender                               Female
SeniorCitizen                           0.0
Partner                                 Yes
Dependents                              Yes
tenure                                   10
PhoneService                            Yes
MultipleLines                            No
InternetService                         DSL
OnlineSecurity                           No
OnlineBackup                             No
DeviceProtection                        Yes
TechSupport                             Yes
StreamingTV                              No
StreamingMovies                          No
Contract                     Month-to-month
PaperlessBilling                         No
PaymentMethod       Credit card (automatic)
MonthlyCharges                         55.2
TotalCharges                         528.35
Churn                                   Yes
Name: 18, dtype: object
customerID                4183-MYFRB
gender                        Female
SeniorCitizen                    0.0
Partner                           No
Dependents                        No
tenure                            21
PhoneService                     Yes
MultipleLines                     No
InternetService          Fiber optic
OnlineSecurity                    No
OnlineBackup                     Yes
DeviceProtection                 Yes
TechSupport                       No
StreamingTV                       No
StreamingMovies                  Yes
Contract              Month-to-month
PaperlessBilling                 Yes
PaymentMethod       Electronic check
MonthlyCharges                 90.05
TotalCharges                  1862.9
Churn                             No
Name: 19, dtype: object
customerID                8779-QRDMV
gender                          Male
SeniorCitizen                    1.0
Partner                           No
Dependents                        No
tenure                             1
PhoneService                      No
MultipleLines       No phone service
InternetService                  DSL
OnlineSecurity                    No
OnlineBackup                      No
DeviceProtection                 Yes
TechSupport                       No
StreamingTV                       No
StreamingMovies                  Yes
Contract              Month-to-month
PaperlessBilling                 Yes
PaymentMethod       Electronic check
MonthlyCharges                 39.65
TotalCharges                   39.65
Churn                            Yes
Name: 20, dtype: object

In [12]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [45]:
df['gender'].value_counts() #성별 남성이 70명 더 많음

gender
Male      3552
Female    3482
Name: count, dtype: int64

In [43]:
df['SeniorCitizen'].value_counts() #고령자 여부 맞으면1, 아니면0 : 아닌사람이 4758더 많음

SeniorCitizen
0.0    5900
1.0    1142
Name: count, dtype: int64

In [49]:
df['Partner'].value_counts() #파트너가 있다/없다: 없는 사람이 239명 더 많음

Partner
No     3641
Yes    3402
Name: count, dtype: int64

In [51]:
df['Dependents'].value_counts() #부양가족 여부 있다/없다: 없는 사람이 2823 더 많다

Dependents
No     4932
Yes    2109
Name: count, dtype: int64

In [98]:
df['tenure'].value_counts(),  df['tenure'].mean() 
#서비스 사용개월수: 1개월(613),72개월(362)순으로 많고
#36개월(50), 0개월(11)순으로 적다. 평균 개월 수는 32개월정도

(tenure
 1     613
 72    362
 2     238
 3     200
 4     176
      ...
 28     57
 39     56
 44     51
 36     50
 0      11
 Name: count, Length: 73, dtype: int64,
 32.37114865824223)

In [55]:
df['PhoneService'].value_counts()
#폰 서비스가 있다/없다: 있는 사람이 5676더 많다. 9.3배정도 차이남

PhoneService
Yes    6358
No      682
Name: count, dtype: int64

In [57]:
df['MultipleLines'].value_counts()
#MultipleLines이 있다/없다/폰서비스가 없다

MultipleLines
No                  3390
Yes                 2971
No phone service     682
Name: count, dtype: int64

In [59]:
df['InternetService'].value_counts()
#인터넷서비스 provider Fiber optic/DSL/No 순으로 많다. No가 1526

InternetService
Fiber optic    3096
DSL            2421
No             1526
Name: count, dtype: int64

In [61]:
df['OnlineSecurity'].value_counts()
#OnlineSecurity이 없다/있다/인터넷서비스가 없다 순으로 많다. 
#앞선 문항의 인터넷서비스 provider이 없다와 똑같은 숫자 1526

OnlineSecurity
No                     3498
Yes                    2019
No internet service    1526
Name: count, dtype: int64

In [63]:
df['OnlineBackup'].value_counts()
#OnlineBackup이 없다/있다/인터넷서비스가 없다 순으로 많다.

OnlineBackup
No                     3088
Yes                    2429
No internet service    1526
Name: count, dtype: int64

In [65]:
df['DeviceProtection'].value_counts()
#DeviceProtection이 없다/있다/인터넷서비스가 없다 순으로 많다.
#앞선 문항들의 인터넷서비스가 없다에 체크한 사람은 1526명으로 일정했는데 
#이 항목은 778명으로 현저히 작아졌다.
#이유가 뭘까? -결측치 (3463)가 굉장히 많음.
#결측치가 많은 이유는? -문항 이해 어려움(device가 어떤 device인지) ,, 등

DeviceProtection
No                     1549
Yes                    1253
No internet service     778
Name: count, dtype: int64

In [69]:
df['TechSupport'].value_counts()
#TechSupport이 없다/있다/인터넷 서비스가 없다 순으로 많다.

TechSupport
No                     3473
Yes                    2044
No internet service    1526
Name: count, dtype: int64

In [71]:
df['StreamingTV'].value_counts()
#StreamingTV이 없다/있다/인터넷 서비스가 없다 순으로 많다.

StreamingTV
No                     2810
Yes                    2707
No internet service    1526
Name: count, dtype: int64

In [73]:
df['StreamingMovies'].value_counts()
#StreamingMovies가 없다>있다>인터넷 서비스가 없다 순으로 많다.

StreamingMovies
No                     2785
Yes                    2732
No internet service    1526
Name: count, dtype: int64

In [75]:
df['Contract'].value_counts()
#Contract term이 달마다>2년>1년 순으로 많다

Contract
Month-to-month    3874
Two year          1695
One year          1473
Name: count, dtype: int64

In [77]:
df['PaperlessBilling'].value_counts()
#전자형식으로 청구서를 받는다>받지 않는다 : 1299명 더 많음

PaperlessBilling
Yes    4171
No     2872
Name: count, dtype: int64

In [79]:
df['MonthlyCharges'].value_counts()
#월별 청구금액 : 20.05가 가장 많음(61) 평균금액:64.763256
#같은 요금을 내는 사람이 많이 없는 걸로 보임. 세분화되어있다

MonthlyCharges
20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
23.65      1
114.70     1
43.65      1
87.80      1
78.70      1
Name: count, Length: 1585, dtype: int64

In [81]:
df['TotalCharges'].value_counts()
# 총 청구금액-어떤 기간동안인지 명확하지 않음!!
#20.2가 11명으로 가장 많은데 천 단위도 있는것으로 보아 
#월별 요금과 총 청구금액을 헷갈렸을 가능성도 있음

TotalCharges
          11
20.2      11
19.75      9
20.05      8
19.9       8
          ..
6849.4     1
692.35     1
130.15     1
3211.9     1
6844.5     1
Name: count, Length: 6531, dtype: int64

In [122]:
df['TotalCharges'].value_counts().keys()

Index([' ', '20.2', '19.75', '20.05', '19.9', '19.65', '45.3', '19.55',
       '20.15', '20.25',
       ...
       '3306.85', '424.75', '6565.85', '2117.2', '203.95', '6849.4', '692.35',
       '130.15', '3211.9', '6844.5'],
      dtype='object', name='TotalCharges', length=6531)

In [83]:
df['Churn'].value_counts()
#서비스를 이탈할 것인가 아니다>맞다 
#이탈할 것이라 한 사람이 1869

Churn
No     5174
Yes    1869
Name: count, dtype: int64

## Null 데이터 확인

In [20]:
df.isnull().sum()

customerID             0
gender                 9
SeniorCitizen          1
Partner                0
Dependents             2
tenure                 0
PhoneService           3
MultipleLines          0
InternetService        0
OnlineSecurity         0
OnlineBackup           0
DeviceProtection    3463
TechSupport            0
StreamingTV            0
StreamingMovies        0
Contract               1
PaperlessBilling       0
PaymentMethod          1
MonthlyCharges         1
TotalCharges           0
Churn                  0
dtype: int64

## 통계 정보

In [24]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7042.000000  7043.000000     7042.000000
mean        0.162170    32.371149       64.763256
std         0.368633    24.559481       30.091898
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

# #3. 데이터 전처리 수행

## 자료구조 파악

## 컬럼 삭제

In [116]:
#불필요한 컬럼 삭제
del df['customerID']        
#ID에 특별한 의미가 있지 않으므로 인텍스 숫자를 ID 대신 사용

In [118]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,NaN,0.0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,NaN,Yes,Electronic check,29.85,29.85,No
1,Male,0.0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0.0,No,No,2,Yes,No,DSL,Yes,Yes,NaN,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0.0,No,No,45,No,No phone service,DSL,Yes,No,NaN,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0.0,No,No,2,Yes,No,Fiber optic,No,No,NaN,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0.0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,Female,0.0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,Female,0.0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,Male,1.0,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,NaN,0.0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

## 컬럼 내용 변경하기

범주형 문자 데이터를 숫자 변환하는것은 성능에 많은 영향을 미치므로 꼭 변환한다.<br>
null, _ 같은 문제있는 문자 데이터를 모델링하기 전에 미리 다른 데이터로 변경, 혹은 삭제한다.

- TotalCharges 컬럼 타입 변경하기

In [126]:
Tc=df['TotalCharges'].value_counts().keys()
Tc

Index([' ', '20.2', '19.75', '20.05', '19.9', '19.65', '45.3', '19.55',
       '20.15', '20.25',
       ...
       '3306.85', '424.75', '6565.85', '2117.2', '203.95', '6849.4', '692.35',
       '130.15', '3211.9', '6844.5'],
      dtype='object', name='TotalCharges', length=6531)

In [130]:
df_Tc=pd.DataFrame(Tc)
df_Tc

     TotalCharges
0
1            20.2
2           19.75
3           20.05
4            19.9
...           ...
6526       6849.4
6527       692.35
6528       130.15
6529       3211.9
6530       6844.5

[6531 rows x 1 columns]

In [134]:
df_Tc['TotalCharges'].replace({' ': None}, inplace=True)
df_Tc['TotalCharges']

C:\Users\엄지영\AppData\Local\Temp\ipykernel_13600\1157749838.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_Tc['TotalCharges'].replace({' ': None}, inplace=True)

0         None
1         20.2
2        19.75
3        20.05
4         19.9
         ...
6526    6849.4
6527    692.35
6528    130.15
6529    3211.9
6530    6844.5
Name: TotalCharges, Length: 6531, dtype: object

In [138]:
df_Tc['TotalCharges'] = pd.to_numeric(df_Tc['TotalCharges'], errors='coerce')
df_Tc['TotalCharges']

0           NaN
1         20.20
2         19.75
3         20.05
4         19.90
         ...
6526    6849.40
6527     692.35
6528     130.15
6529    3211.90
6530    6844.50
Name: TotalCharges, Length: 6531, dtype: float64

In [150]:
bins = [0, 50, 200, 500, 1000, float('inf')]
labels = ['0-500', '501-1000', '1001-1500', '1501-2000', '2001 이상']
df_Tc['TotalCharges_Category'] = pd.cut(df_Tc['TotalCharges'], bins=bins, labels=labels, right=False)
df_Tc['TotalCharges_Category']

0             NaN
1           0-500
2           0-500
3           0-500
4           0-500
          ...
6526      2001 이상
6527    1501-2000
6528     501-1000
6529      2001 이상
6530      2001 이상
Name: TotalCharges_Category, Length: 6531, dtype: category
Categories (5, object): ['0-500' < '501-1000' < '1001-1500' < '1501-2000' < '2001 이상']

In [154]:
df_Tc['TotalCharges_Category'] = df_Tc['TotalCharges_Category'].astype('category')
print(df_Tc)

      TotalCharges TotalCharges_Category
0              NaN                   NaN
1            20.20                 0-500
2            19.75                 0-500
3            20.05                 0-500
4            19.90                 0-500
...            ...                   ...
6526       6849.40               2001 이상
6527        692.35             1501-2000
6528        130.15              501-1000
6529       3211.90               2001 이상
6530       6844.50               2001 이상

[6531 rows x 2 columns]

- Churn 컬럼의 문자열값을 숫자로 변경

## Null 데이터 확인

In [158]:
df.isnull().sum()

gender                 9
SeniorCitizen          1
Partner                0
Dependents             2
tenure                 0
PhoneService           3
MultipleLines          0
InternetService        0
OnlineSecurity         0
OnlineBackup           0
DeviceProtection    3463
TechSupport            0
StreamingTV            0
StreamingMovies        0
Contract               1
PaperlessBilling       0
PaymentMethod          1
MonthlyCharges         1
TotalCharges           0
Churn                  0
dtype: int64

- 결측치 처리

데이터에 결측치 있으면 모델링시 알지 못하는 에러 발생할수 있으므로 반드시 결측치를 제거나 변경해야 한다.<br>
결측치 제거시 dropna() 함수 활용하면 된다.<br>
결측치를 변경시 변경하는 방법이 꼭 정답이 아니며, 여러가지 판단하고 고민이 필요하다.<br>
주로, 문자형 컬럼에 대해 최빈값으로 , 숫자형 컬럼에 대해 중간값으로 결측치 대신해서 채울수 있다.

# #4. 시각화

## 라이브러리 임포트

In [18]:
import matplotlib.pyplot as plt
%matplotlib inline

## Bar 차트

- 불균형 심한 PhoneService 컬럼 삭제

## 숫자형 컬럼에 대한 시각화

- Churn 컬럼

- SeniorCitizen 컬럼

## Histgram

In [31]:
# seaborn 라이브러리 임포트
#!pip install seaborn

import seaborn as sns

- tenure 컬럼

- TotalCharges 컬럼

## Countplot

## heatmap

## boxplot

# # 5. 결과 저장하기

## 결과를 csv 파일로 저장하기

# #X. 랩업
1. 필요 라이브러리 임포트 및 파일 읽어오기 : pd.read_csv()
2. EDA (Exploratory Data Analysis) 탐색적 데이터 분석 : df.info(), df.head(), df.tail()
3. 데이터 전처리 수행
 + 불필요 컬럼 삭제 : df.drop()
 + 컬럼 내용 변경하기 : df.replace()
 + Null 처리 : df.replace(), df.fillna()
 + 컬럼 type 변경하기 : df['col'].astype(int)
4. 시각화
 + matplotlib, seaborn
 + bar, scatter, countplot, boxplot
5. 결과 저장하기
 + to_csv()